
            body{
                display: flex;
                flex-direction: column;
                height:98vh;
               
            }
            header{
                display: flex;
                justify-content: space-between;
                flex:8%
                
            }
            li{
                padding: 10px;
                display: inline;
            }
           header> ul{
                list-style-type: none;
                color:rgba(0, 0, 0, 0.696);
                font-weight: bold;
                font-size: 17px;
                
            }
           
            .main-content-container{
                display: flex;
                flex-direction: column;
                place-content: center;
                align-items: center;
                flex:86%;
                gap:30px

            }
            span{
                font-size: 100px;
            }
            footer{
                flex:6%;
                display: flex;
                justify-content: space-between;
                background-color: rgba(128, 128, 128, 0.185);
            }
         
            input{
             width:550px;
             height: 40px;
             border-color: gray; 
              box-shadow: 0 1px 6px rgba(32,33,36,.28);
               border: 1px solid #dfe1e5;
                border-radius: 3px;
            }
            .search-buttons > button{
                 padding: 10px 20px;
                 color:rgba(0, 0, 0, 0.507) ;
                 background-color:  rgba(32, 33, 36, 0.062);
                 margin: 10px;
                 border: 1px solid #dfe1e5; 
                 box-shadow: 0 1px 6px rgba(32,33,36,.28);
                 font-weight: 600;
                 font-size: 14px;
                 border-radius: 3px;

            }
             .search-buttons > button:hover{
                border: 1px solid gray;
             }
            footer > ul{
                color: rgba(0, 0, 0, 0.67);
                font-size: 16px;
            }
            
          
   