
        .main-container {
            background-color: #0098C0;
            width: 90%;
            height: 500px;
            display: flex;
            justify-content: space-between;
            padding: 25px 15px;


        }

        .main-container>p {
            color: rgba(255, 255, 255, 0.945);
            margin-left: 200px;
            font-size: 30px;
            margin-right: 20px;


        }

        .content-grid {
            background-color: white;
            box-shadow: 5px 5px rgba(32, 33, 36, 0.5);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        

        }
        .content-grid >div > img{
            width: 180px;
            height: 230px;
            margin-top: 20px;
            
        }
         .content-grid > div{
              padding: 30px;
            
         }
          .content-grid > div >h1{
              text-align: center;
                text-shadow: 2px 2px 8px #000000;
            
         }
         .content-grid > div >p{
            font-size: 18px;
         }
         .java-div >img{
            margin-bottom: 3px;

         }
          .css-div >img{
            margin-bottom: 40px;

         }
             .pascal-div >img{
            margin-bottom: 30px;

         }
