:root{

      /* --main-color: #00BFA6  ;
      --secondary-color:#4b4534; */
      --error-color:#e53d00;

}
*{
    padding: 0;
    margin: 0;
}
.result-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6); /* خلفية داكنة شفافة */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* فوق كل العناصر */
    box-shadow: 4px 4px 10px #fff;

}

.result{
    width:400px;
    display:flex;
    padding: 1rem;
    border-radius: 6px;
    text-align: center;
    
     object-fit: contain;
}
.result .result-container{
    text-align: center;
    width: 100%;
    padding: 1rem;
}
.result .result-container .icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
   padding: 1rem ;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 130px;
   
 
   box-shadow: 3px 3px 50px #fff ;
}
.result .result-container .icon i {
  font-size: 40px;
    z-index: 20;
    color: var(--error-color);



}
.result .result-container .text{
    color: black;
    font-size: 1.5rem;
    font-weight: 600;

}
.result .result-container .score-container {
margin: 1rem;
color: black;
font-size: 1.3rem;
font-weight: bold;
}
.result .result-container .score-container {
margin: 1rem;
}
.result .result-container .button-container{
   display: flex;
   justify-content:space-between;
}
.result .result-container .button-container button{
width: 150px;
height: 40px;
font-size: 18px;
color:#F7F0F5;
background-color: var(--error-color);
border: none;
border-radius: 6px;
outline: none;
font-weight: 600;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.541);

}
.result .result-container .button-container button:hover{
    background-color:white ;
    color:black ;
}
.result .result-container .button-container .show-result{


}
.result .result-container .button-container .back-home{
   
    
    
}
/* strat  result table style code  */
.table-container{
  width: 100%;
  overflow-x: auto;
}
table{
    margin: 5px ;
    background-color: #fff;
    border-radius: 12px;
    border-collapse: collapse;

}
tr:first-child{
   background-color:  var(--main-color)  ;
   border-radius: 12px 0 0 12px;
    width: 100%;
    padding: 15px;
    
    
   
    
 
   
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover:not(:first-child) {
    background-color: #5ba7c214;
}

th{
    padding: 12px 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: black;
   
}
   

td {
    font-size: 15px;
      padding: 12px 15px;
    text-align: start;
    color: #333;
      font-weight:bold;
       color: #333;
}
td.correct{
    color: black;
}

td.wrong{
    color: var(--error-color) ;
}
.button-Container{
    display: flex;
    justify-content: center;

}
.table-button{
        width: 50%;
    padding: 0.7rem;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    margin-top: 1rem;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    border: none;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.314);
}
.table-button:hover{
    background-color:#e0e0e0;
    color:  var(--main-color);

}



@media (max-width:767px)  {


.result{
    width:300px;
    display:flex;
    padding: 1rem;
    border-radius: 6px;
    text-align: center;
     object-fit: contain;
}
.result .result-container{
    text-align: center;
    width: 100%;
    padding: 1rem;
}
.result .result-container .icon{
    width: 50px;
    height: 50px;
   margin-left: 95px;

}
.result .result-container .icon i {
  font-size: 40px;
}
.result .result-container .text{
    font-size: 1.2rem;
}
.result .result-container .score-container {

}

.result .result-container .button-container{
   display: flex;
   justify-content:space-between;
}
.result .result-container .button-container button{
width: 100px;
height: 40px;
font-size: 0.8rem;


}

}

/* responsive table */
@media(max-width:768px){
  .quiz-app{
    width:100%;
    height: 100%;
    margin-left: 2px;

}
.table-button{
    font-size: 16px;
}

}



/* score book */

.card{
    width:10rem;
    height: 10rem;
     box-shadow: -.1rem 1.7rem 6.6rem -3.2rem #fff(0,0,0,0.5);
    position: relative;
    transition: all 1s ease;
    margin-bottom: 0.5rem;
    

}
/* غالاف الدفتر الامامي اللذي سوف يتم فتحه */
.flip-card{
    width: 10rem;
    height: 10rem;
    position:absolute;
    top:0;
    right: 0;
    visibility: hidden;
    z-index: 100;
     perspective: 100rem; 
}
.flip-card >*{
    visibility: visible;
}
.flip-card__container{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    transform-origin: left;
    transform-style:preserve-3d ;
    transition: all 1s ease;
}
.card-front{
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0; 
     background-color: white;
}
.card-front__tp {
    background-color:var(--main-color) ;
    height: 7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0.4rem;
     clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);



}

.card-front__icon{
    font-size: 1.5rem;
    color: #fafbfa;
}
.card-front__bt{
    text-align: center;
}

.card-front__heading{
font-size: 1.3rem;
color: #fff;
}
.card-front__text-view{
    font-size: 1rem;
    font-weight: 800;
    color: var(--main-color);
    margin-top: 0.6rem;
}
/* inside page of the book  */
.inside-page{
     top: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
    position: absolute;
  background-color: #ffffffee;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
  padding: 0.6rem;
  transition: all 1s ease;
    z-index: 1;
    
}
.inside-page__container{
    width: 100%;
    height: 100%;
    position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
    /* top: 0; */
    right: 0;
     transition: all 1s ease;
    

}
.inside-page__heading{
    font-size: 1.1rem;
color: var(--main-color);
margin-bottom: 0.5rem;


}
.inside-page__text{
    color: black;
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
.score-image{
    width:100px;
    height: 60px;
    margin-bottom: 1.1rem;
   
}
.card:hover {
  box-shadow:
  -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
  width: 20rem;
}
.card:hover .flip-card__container {
  transform: rotateY(-180deg);
}
.card:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
}
